<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../output.css">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700,900&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/icon.png" type="image/png">
  <title>Noob Casino</title>
</head>
<body class="bg-[#0D0D0D] h-dvh">
  <nav class="flex justify-center items-center w-dvw h-24 gap-4 border-b-2 border-[#191919]">
    <img width="53px" src="../assets/casino.png">
    <div class="font-[#BBD6F4] text-3xl font-bold">Noob Casino</div>
  </nav>
  <main class="flex flex-wrap justify-center items-center w-full h-5/6 gap-x-10 gap-y-10">
    <!-- Card -->
    <div class="group bg-[#0B0B0B] w-96 flex flex-col justify-center items-center p-6 gap-3 rounded-3xl border-2 border-[#171717]
    transition-all duration-300 hover:scale-105 hover:border-[#3D6189] hover:shadow-2xl hover:shadow-[#09192B]">
      <img src="../assets/bomb.png" width="300px" class="object-cover rounded-xl">
      <div class="font-bold font-[#F2F2F2] text-5xl transition-colors duration-300 group-hover:text-[#a5c4e8]">Ruletka</div>
      <div class="text-lg text-[#A4A4A4] px-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla aliquet ipsum ut egestas malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </div>
    </div>
    <!-- Card -->
    <div class="group bg-[#0B0B0B] w-96 flex flex-col justify-center items-center p-6 gap-3 rounded-3xl border-2 border-[#171717]
    transition-all duration-300 hover:scale-105 hover:border-[#3D6189] hover:shadow-2xl hover:shadow-[#09192B]">
      <img src="../assets/bomb.png" width="300px" class="object-cover rounded-xl">
      <div class="font-bold font-[#F2F2F2] text-5xl transition-colors duration-300 group-hover:text-[#a5c4e8]">Ruletka</div>
      <div class="text-lg text-[#A4A4A4] px-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla aliquet ipsum ut egestas malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </div>
    </div>
    <!-- Card -->
    <div class="group bg-[#0B0B0B] w-96 flex flex-col justify-center items-center p-6 gap-3 rounded-3xl border-2 border-[#171717]
    transition-all duration-300 hover:scale-105 hover:border-[#3D6189] hover:shadow-2xl hover:shadow-[#09192B]">
      <img src="../assets/bomb.png" width="300px" class="object-cover rounded-xl">
      <div class="font-bold font-[#F2F2F2] text-5xl transition-colors duration-300 group-hover:text-[#a5c4e8]">Ruletka</div>
      <div class="text-lg text-[#A4A4A4] px-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla aliquet ipsum ut egestas malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </div>
    </div>
  </main>
</body>
</html>
<!-- transition-colors duration-300 group-hover:text-green-400 ;;; transition-transform duration-300 hover:scale-105-->